.logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-16px);
}

.logoNameContainer {
  position: absolute;
  font-family: AbrilFatface, serif;
  font-size: 1rem;
  text-align: end;
  z-index: 2; /* השם מעל הכל */
}

.logoNameContainer p {
  color: var(--clr-txt1);
}

.logoCircle {
  width: 110px;
  height: 110px;
  animation: spin 15s linear infinite; /* סיבוב אינסופי */
}

.logoCircleText {
  font-size: 0.9rem;
  font-family: DMSans;
  fill: var(--clr-txt2);
  letter-spacing: 2px;
  text-transform: uppercase;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}